/* 
    Document   : menu_vertical
    Created on : 24-sep-2016, 19:17:10
    Author     : Roberto
    Description:
        Purpose of the stylesheet follows.
*/

.bloque_{
    padding: 5px;
    color:white;
    /*background: #0E4194;*/
    /*border-bottom: 1px solid white;*/
    cursor: pointer;
}

.bloque_hijos{

    display: none;
    /*margin-left: 20px;*/
    color:white;
    /*    border-bottom: 1px solid white; */
    cursor: pointer;
    background: #32373C;
}

.bloque_ i{
    font-size: 18px; 
}

.bloque_hijos i{
    float: right;
    font-size: 14px;
    margin-top: 3px;
    margin-right: 10px;
}

.bloque_hijos div:hover{
    /*background: #008CD2;*/
    color: #008CD2;
}
.bloque_hijos div:hover > .guia2_{
    /*background: #008CD2;*/
    border-bottom-color:  #008CD2;
}



.bloque_hijos:hover{
    /*background: darkslategrey;*/

}


.bloque_hijos:hover > .guia_{
    border-right-color:  #008CD2;
}


.bloque_hijos div{
    padding: 5px;
    padding-left: 42px;


}


.btn_vert_{
    padding: 0;
    background: rgba(0, 0, 0, 0.9);
    /*    margin-right: 5px;*/
    width: 30px;
    height: 30px;

}

.bloque_ .fl_down{
    float: right;
    margin-top: 5px;

}


.bloque_:hover , .bloque_ button:hover{
    color:#008CD2!important;

}


.guia_{
    float: left;
    width: -15px;
    /* background: rebeccapurple; */
    margin-left: -27px;
    border-right: 2px solid white;
}

.guia2_{
    float: left;
    padding: 0px;
    margin-left: -22px;
    width: 19px;
    border-bottom: 2px solid white;
    margin-top: 9px;
    padding: 0px !important;

}
